NODE_ENV=development
PORT=3000
REACT_APP_MOCK=false
REACT_APP_API_SERVER=https://api-dev.ticket-crowdserve.com
REACT_APP_API_KEY=69356a1cdede0a28828910d80ad403f7
REACT_APP_PREFIX=dev_
REACT_APP_ENCRYPTION_KEY=RGF0YSBFbmNyeXB0aW9u
REACT_APP_GOOLE_MAP_API_KEY=AIzaSyA2suiOjWXda3giLlDaKbH3XZh5rZtIoyU