.ant-layout-sider {
  background: $black;
  padding-left: 16px;
  padding-right: 16px;
  .ant-menu-item:hover {
    background: $black900;
    border-radius: 4px;

    .ant-menu-item-icon {
      color: $red;
      path {
        fill: $red;
      }
    }
  }
  .ant-menu-item-group-title {
    display: none;
  }
  .ant-menu-item {
    margin-bottom: 12px !important;
    .ant-menu-title-content {
      margin-left: 12px;
    }
  }
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: $black900;
    border-radius: 4px;
    .ant-menu-item-icon {
      color: $red;
      path {
        fill: $red;
      }
    }
  }
  .ant-menu-dark.ant-menu-inline .ant-menu-item {
    padding-left: 10px !important;
    height: 42px;
    font-size: 15px;
    font-weight: 400;
    color: $gray-600;
  }
  .ant-menu {
    background: $black !important;
  }
}

.logo-box {
  margin-top: 15px;
  margin-bottom: 36px;
  transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  outline: none;
  box-sizing: border-box;
  .logo {
    img {
      width: 80px;
      height: 42px;
    }
  }
  @media (max-width: 992px) {
    width: auto;
  }
}

.sidebar-menu {
  .ant-menu-item-group-title {
    padding: 12px 20px !important;
    pointer-events: none;
    cursor: default;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.header-layout {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - #{$sidebar-width});
  position: fixed;
  z-index: 1;
  @media (max-width: 992px) {
    width: 100% !important;
  }
}

.content-layout {
  position: relative;
  padding-left: $sidebar-width;
  transition: all 0.3s;
  @media (max-width: 992px) {
    padding-left: 0 !important;
    left: $sidebar-width;
  }
}

// Enlarge menu
.vertical-collpsed {
  .logo-box {
    width: 80px;
  }
  .logo {
    span.logo-lg {
      display: none;
    }
    span.logo-sm {
      display: block;
    }
  }
  .ant-menu-item-group {
    .ant-menu-item-group-title {
      display: none;
    }
  }
  .header-layout {
    width: calc(100vw - #{$sidebar-collapsed-width});
  }
  .content-layout {
    padding-left: $sidebar-collapsed-width;
    @media (max-width: 992px) {
      left: 0;
    }
  }
}

body[data-sidebar='dark'] {
  .vertical-menu {
    background: $sidebar-dark-bg;
  }
}
