.ant-layout {
  background: $gray-100;
}
.ant-input:hover {
  border-color: $black900;
}
.ant-input:focus, .ant-input-focused {
  border-color: $black900;
  box-shadow: none;
}
.ant-picker-range .ant-picker-active-bar {
  background: $black900 !important;
}
.ant-upload.ant-upload-select-picture-card:hover {
  border-color: $black900 !important;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: $black900;
}
.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
  border-color: $black900;
  box-shadow: none;
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: $black900 !important;
  box-shadow: none !important;
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: $black900 !important;
  box-shadow: none !important;
}
.ant-picker:hover, .ant-picker-focused {
  border-color: $black900 !important;
  box-shadow: none !important;
}
.ant-layout-sider {
  background: $black;
  height: 100%;
  .ant-layout-sider-children {
    padding-left: 16px;
    padding-right: 16px;
  }
  .ant-menu-item-icon {
    width: 17px;
    height: 17px;
  }
  .ant-menu-item:hover {
    background: $black900;
    border-radius: 4px;

    .ant-menu-item-icon {
      color: $red;
      path {
        fill: $red;
      }
    }
  }
  .ant-menu-item-group-title {
    display: none;
  }
  .ant-menu-item {
    margin-bottom: 12px !important;
    .ant-menu-title-content {
      margin-left: 12px;
    }
  }
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: $black900;
    border-radius: 4px;
    .ant-menu-item-icon {
      color: $red;
      path {
        fill: $red;
      }
    }
  }
  .ant-menu-dark {
    .ant-menu-submenu-active,
    .ant-menu-submenu-selected {
      .ant-menu-submenu-title {
        background-color: $black900;
        border-radius: 4px;
      }
      .ant-menu-item-icon {
        color: $red;
        path {
          fill: $red;
        }
      }
    }
  }
  .ant-menu-dark.ant-menu-inline .ant-menu-item {
    padding-left: 10px !important;
    height: 42px;
    font-size: 15px;
    font-weight: 400;
    color: $gray-600;
  }
  .ant-menu-dark.ant-menu-inline .ant-menu-submenu {
    padding-left: 0px !important;
    padding-right: 10px !important;
  }
  .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    padding-left: 8px;
    border-left: 1px solid #404047;
    margin-left: 18px;
    margin-top: 15px;
    padding-right: 15px;
    .ant-menu-item {
      padding-left: 0px !important;
      .ant-menu-title-content {
        margin-left: 10px;
      }
    }
    > :last-child {
      margin-bottom: 0 !important;
    }
  }
  .ant-menu-dark.ant-menu-inline .ant-menu-submenu .ant-menu-submenu-title {
    padding: 0px !important;
    padding-left: 10px !important;
  }
  .ant-menu {
    background: $black !important;
  }
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 2px !important;
}
.ant-layout-header {
  height: 60px;
  .top-menu-btn {
    display: none;
    @media (max-width: 996px) {
      display: inline-block;
      margin-right: 15px;
    }
  }
}
.ant-layout-content {
  position: relative;
  padding: 0 !important;
}
.ant-spin {
  max-height: unset !important;
}
.ant-tooltip-content,
.ant-tooltip-inner {
  background: $white;
  font-weight: 400;
  font-size: 15px;
  color: $black900;
  border-radius: 2px;
}
.ant-tooltip-arrow-content {
  background: $white;
  width: 8px;
  height: 8px;
  --antd-arrow-background-color: $white;
}
.ant-select-item {
  font-weight: 400;
  font-size: 15px;
  color: $black900;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: $white-100 !important;
  color: $black900 !important;
  font-weight: 400 !important;
}
.ant-select-item-option-disabled {
  color: $gray-600;
}
.anticon-loading {
  color: $red;
}
.page-content {
  padding: calc(60px + 0px) 0px 0;
}
.logo-box {
  margin-top: 15px;
  margin-bottom: 36px;
  transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  outline: none;
  box-sizing: border-box;
  .logo {
    img {
      height: 42px;
    }
  }
  @media (max-width: 992px) {
    width: auto;
  }
}
.ant-modal {
  .ant-modal-content {
    border-radius: 2px;
  }
  .ant-modal-body {
    padding: 24px !important;
    font-size: 15px;
    color: $black900;
    font-weight: 400;
    .ant-modal-confirm-title {
      font-size: 18px;
      font-weight: 700;
      color: $black800;
    }
    .ant-modal-confirm-btns {
      .ant-btn {
        padding: 0px 24px;
        border: 1px solid $black700;
        border-radius: 2px;
        color: $black700;
        font-size: 15px;
        font-weight: 500;
        line-height: 21px;
      }
      .ant-btn-primary {
        border: none;
        color: $white;
      }
    }
    .preview-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
// .ant-picker-footer-extra {
//   display: flex;
//   justify-content: flex-end;
//   padding-top: 10px !important;
//   padding-bottom: 10px !important;
//   .ant-btn {
//     padding: 0;
//     border: none;
//     width: 34px;
//     height: 24px;
//     background: $red;
//     border-radius: 2px;
//     font-weight: 400;
//     font-size: 15px;
//     color: $white;
//   }
// }
.logout-container {
  color: $gray-600;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 400;
  font-size: 15px;
  height: 66px;
  border-top: 1px solid $black800;
  position: fixed;
  bottom: 0;
  left: 0;
  width: $sidebar-width;
  display: flex;
  align-items: center;
  a {
    color: $gray-600;
    width: 100%;
  }
  .logout-icon {
    margin-right: 12px;
  }
  .text {
    padding-left: 10px;
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: $white;
      background: $black900;
      border-radius: 4px;
      transition: 0.3s;
      .logout-icon {
        color: $red;
      }
    }
  }
}
.sidebar-menu {
  .ant-menu-item-group-title {
    padding: 12px 20px !important;
    pointer-events: none;
    cursor: default;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.header-layout {
  display: flex;
  width: calc(100vw - #{$sidebar-width});
  position: fixed;
  z-index: 1;
  .page-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
    color: $black;
  }
  @media (max-width: 992px) {
    width: 100% !important;
  }
}

.content-layout {
  position: relative;
  padding-left: $sidebar-width;
  transition: all 0.3s;
  @media (max-width: 992px) {
    padding-left: 0 !important;
    left: $sidebar-width;
  }
}

// Enlarge menu
.vertical-collpsed {
  .logo-box {
    width: 0px;
  }
  .logo {
    display: none;
  }
  .logout-container {
    display: none;
  }
  .ant-menu-item-group {
    .ant-menu-item-group-title {
      display: none;
    }
  }
  .header-layout {
    width: calc(100vw - #{$sidebar-collapsed-width});
  }
  .content-layout {
    padding-left: $sidebar-collapsed-width;
    @media (max-width: 992px) {
      left: 0;
    }
  }
}

body[data-sidebar='dark'] {
  .vertical-menu {
    background: $sidebar-dark-bg;
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-required {
  .ant-form-item-label > label::after {
    display: none !important;
  }
}

.notSaveModalTitle {
  display: flex;
  justify-content: space-between;
  .anticon {
    cursor: pointer;
  }
}

.notSaveConfirmModal {
  .ant-btn {
    height: 32px;
  }
}

.pac-container {
  border-top: none;
  margin-left: -30px;
  border-radius: 2px;
  background: $white;
  box-shadow: 0px 6px 20px 4px rgba(0, 0, 0, 0.05), 0px 3px 6px -2px rgba(0, 0, 0, 0.10);
  margin-top: 5px;
  .pac-item {
    font-family: Heebo;
    font-size: 15px;
    font-weight: 400;
  }
}

.pac-logo:after {
  display: none;
}

.cropper-image-modal {
  .ant-modal-content {
    height: 520px;
    width: 520px;
    border-radius: 4px 4px 0 0;
  }
  .ant-modal-body {
    height: 100%;
    .reactEasyCrop_Container {
      border-radius: 4px;
      width: calc(100% - 48px);
      margin: auto;
      height: calc(100% - 48px);
    }
  }
  .ant-modal-footer {
    padding: 24px;
    background: $white;
    border: none;
  }
}
@media (max-width: 992px) {
  .ant-layout {
    .ant-layout-sider {
      min-height: calc(100vh - 52px);
      height: calc(100vh - 52px);
      top: 52px;
    }
  }
  .cropper-image-modal {
    .ant-modal-content {
      height: 335px;
      width: 335px;
      border-radius: 4px 4px 0 0;
      margin: auto;
    }
  }
}
.page-content-mask {
  position: absolute;
  background: rgba(0, 0, 0, 0.30);
  width: 100%;
  height: 100%;
  z-index: 10;
}