// Core files
@import "variables";

// Structure
@import "custom/structure/topbar";
@import "custom/structure/vertical";

// Plugins
@import "custom/plugins/custom-scrollbar";

body {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  color: #000;
  background-color: $body-bg;
}

.icon-btn {
  border: none;
}

.ant-btn-primary:hover {
  background: #de0005;
  border-color: #de0005;
}

.ant-btn-default {
  color: #717179;
  border: 1px solid #717179;
}

.ant-btn-default:hover {
  border: 1px solid #de0005;
  color: #de0005;
}
.ant-btn[disabled] {
  color: #717179;
  border: 1px solid #717179;
  background: #fff;
}
.ant-btn-primary[disabled] {
  background: #dcdce1;
  border: 1px solid #dcdce1;
  color: #7d8d95;
}
.ant-btn-primary[disabled]:hover {
  background: #dcdce1;
  border: 1px solid #dcdce1;
  color: #7d8d95;
}

.ant-layout-sider .ant-layout-sider-children {
  @media screen and (max-width: 992px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.side-by-side {
  display: inline-block;
  width: calc(50% - 8px);
  @media screen and (max-width: 992px) {
    width: 100%;
    display: block;
  }
}

.side-by-side-left {
  margin-right: 16px !important;
  @media screen and (max-width: 992px) {
    margin-right: 0;
  }
}

.ant-select {
  .ant-select-clear {
    svg {
      width: 17px;
      height: 17px;
      margin-top: -2px;
      margin-left: -2px;
    }
  }
}

.contact-email-tooltip {
  cursor: pointer;
  > :last-child {
    margin-left: 10px;
    color: #FC0006;
    .anticon {
      transform: scale(0.8);
      font-size: 12px;
    }
  }
}
