@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&family=Oswald:wght@700&display=swap');

html,
body {
  margin: 0;
  font-family: Heebo, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

iframe {
  display: none;
}